@model Daimler.Speech.Web.Models.AudioGenerationResults

@{
    ViewData["Title"] = "BatchTestResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript" src="~/lib/adal/adal.min.js"></script>

<h1>@Model.Job.JobName</h1>
<label>Speech Service Type</label>: <label>@Model.Job.SpeechServiceType </label> <br />
<label>Language</label>: <label>@Model.Job.AudioLanguage</label>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        font-size: 1em;
    }

    .ui-draggable, .ui-droppable {
        background-position: top;
    }
</style>

<div>
    <hr />

    <dl class="row"></dl>

    <div style="align-items:center" align="right">
        <button id="btnDownload" type="button"
                class="btn btn-sm btn-default pull-left col-lg-2 button button4">
            Download
        </button>
    </div>
    <div id="tabs-1">
       <div id="jobDetails-table"></div>
    </div>




</div>
<div>
    <a asp-action="AudioGeneration">Back to List</a>
</div>

@section scripts{
    <script>

        //create Tabulator on DOM element with id "example-table"
        var table = new Tabulator("#jobDetails-table", {
            height: 400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
            layout: "fitColumns", //fit columns to width of table (optional)
            initialSort: [{ column: "rowKey._", dir: "desc" }],
            columns: [ //Define Table Columns
                 {
                    title: "Text", field: "transcript", formatter: function (cell, formatterParams, onRendered) {

                         return unescape(cell.getRow().getData().transcript);



                    },
                },
                { title: "File Name", field: "fileName", width: 150 },
                { title: "Status", field: "status", width: 100, },
                { title: "Error", field: "error", width: 250, formatter:"textarea"},

            ]
        });




        //trigger download of data.xlsx file
        $("#btnDownload").click(function () {
            table.download("xlsx", "@Model.Job.JobName\.xlsx", { sheetName: "Details" });
        });


        function FillData(userProfile) {


            window.accessToken = userProfile.accessToken;
            var tableData = JSON.parse('@Html.Raw(Json.Serialize(Model.JobDetails))');

            table.replaceData(tableData);

        }

    </script>
    <script type="text/javascript" src="~/lib/adal/App.js"></script>
}